/.blobs
/.dev_builds
/.final_builds
/blobs
/config/dev.yml
/config/private.yml
/dev_releases
/releases/**/*.tgz
/releases/*.tgz
Vagrantfile
.vagrant
/.bundle/
vendor/
credentials.yml
*~
bosh_credentials.yml